<section class="flex h-full">
    <section class="w-1/2 bg-gradient-to-b from-blue to-purple  flex items-center justify-center">
        <div class="text-center text-white">
            <mat-icon  class="scale-150">home</mat-icon>
            <h4 class="font-extrabold text-3xl mb-2">Welcome Back!</h4>
            <h4 class="font-bold text-2xl">Glad to see you!</h4>
        </div>
    </section>
    <section class="w-1/2 bg-white  h-full">
        <users-apps-form-login></users-apps-form-login>
    </section>
</section>